//Main
.main-content {
    padding: 20px;
    background-color: #777;
    color: #333;
}

.content-box {
    background-color: #99CCCC;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 200px;
}

.content-box h3, .content-box h3 {
    margin-top: 0;
}
 .button {
          background-color: red;
			color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
        }
}

//Main2
.logo-container {
    text-align: center;
    margin-bottom: 20px;
	font-family: "Times New Roman";
}

.logo img {
    width: 100px;
}

.square-container {
    display: flex;
    justify-content: center;
}

.large-square{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    background-color: green;
    padding: 10px;
}

.small-square {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:50px;
    border: 2px solid #ccc;
}

.small-square .logo {
    text-align: center;
}
p {
    font-size: 16px;
	}
.h2{
 font-family: "Times New Roman";
 }
 .info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.info-box {
    text-align: center;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
    margin: 10px;
}

.info-box img {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.more-info {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.start-learning {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}